.Tag{
    background-color: #FF6060;
    min-width: 95px;
    height: 25px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    p{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: white;
        font-size: 0.9em;
    }
}

@media screen and (max-width: 650px) {
    .Tag{
        min-width: 84px;
        border-radius: 5px;
        height: 18px;
        padding-left: 5px;
        padding-right: 5px;
        p{
            white-space: nowrap;
            font-size: 0.7em;
        }
    }

}