.Tag{
    background-color: #FF6060;
    min-width: 95px;
    height: 25px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    p{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: white;
        font-size: 0.9em;
    }
}