.stars {
  .star {
    color: #ff6060;
    width: 25px;
    height: 24px;
  }
  .empty-star {
    color: #e3e3e3;
    width: 25px;
    height: 24px;
  }
}
@media screen and (max-width: 762px) {
  .stars {
    .star {
      width: 14px;
      height: 13px;
    }
    .empty-star {
      width: 14px;
      height: 13px;
    }
  }
}
