.informations {
    .First-part{
        .title{
            color: #FF6060;
        }
        .localistation{
            color: #FF6060;
        }
    }
    .Second-part{
        .propiétaire{
            color: #FF6060;
        }
    }

}