.Home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
  margin: auto;
  max-width: 1240px;
  .textimg {
    font-size : clamp(1.8rem, 6vw, 2.8rem);
    color: white;
    position: absolute;
    border-radius: 2px;
    right: 22%;
    top: 80px;
    padding: 5px 10px;
    padding-left: 20px;
  }
  .accueil{
    position: relative;
    img{
      filter:brightness(0.7);
    }
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 56px;
    border-radius: 25px;
    background-color: #f6f6f6;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 56px;
    padding-bottom: 56px;
    margin-top: 43px;
    margin-bottom: 43px;
  }
}

@media screen and (max-width: 762px) {
  .Home{
    .accueil{
      img{
        height: 111px;
      }
    }
    padding-top: 16px;
    .textimg {
      left: 25px;
      top: 30px;
      padding-left: 10px;
      font-size: 1.3em;
    }
    .cards{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center; 
      row-gap: 30px;
      padding: 0;
      margin-bottom: 30px;
      align-items: center;
      background-color: white;

    }
  }
  
}