header {
  max-width: 1240px;
  margin: auto;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;
  height: auto;
  max-height: 100px;
  ul {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0;
    list-style-type: none;
    li {
      width: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      .font {
        display: flex;
        padding-left: 20px;
        text-decoration: none;
        color: #ff6060;
        font-size: 1.3em;
        flex-basis: auto;
      }
      .font:hover {
        text-decoration: underline;
      }
    }
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
  div{
    width: auto;
    .LogoHeader{
      width: 100%;
      height: auto;
    }
  }
}


@media only screen and (max-width: 768px) {
  header{
    ul{
      li{
        width: auto;
        .font{
          font-size: 0.8em;
          text-transform : uppercase;
        }
      }
    }
    div{
      width: 150px;
      height: auto;
      }
    }
  }
